<div class="bg-black h-screen w-full relative p-20 items-center justify-center">
  <div class="contactsInfo">
    <h2 class="text-center">Contacts</h2>
    <table>
      <tr>
        <td class="mr-5">
          <img width="50px" src="assets/Telegram.svg" alt="Telegram">
        </td>
        <td>Telegram:</td>
        <td>
          <a class="flex justify-center items-center contactsBtn" target="_blank" href="https://t.me/Vepsur">Vepsur</a>
        </td>
      </tr>
      <tr>
        <td class="mr-5">
          <img width="50px" src="assets/GitHub.svg" alt="GitHub">
        </td>
        <td>GitHub:</td>
        <td>
          <a class="flex justify-center items-center contactsBtn" href="https://github.com/Vepsur" target="_blank">Vepsur</a>
        </td>
      </tr>
      <tr>
        <td class="pr-5">
          <img width="50px" src="assets/Mail.svg" alt="Mail">
        </td>
        <td>e-mail:</td>
        <td>
          <a class="flex justify-center items-center contactsBtn" href="mailto:i.merkushkin.vepsur@gmail.com">
            i.merkushkin.vepsur@gmail.com
          </a>
        </td>
      </tr>
    </table>
  </div>

  <img src="assets/contacts_figure.svg" alt="Contacts_figure" class="contactsFigure">
</div>