<div class="firstBlock bg-black h-screen w-full flex items-center justify-center">
  <div class="m-auto">
    <h1 class="relative right-20">From engineer...</h1>
    <h1 class="relative left-20">to front-end developer</h1>
  </div>
</div>

<div class="bg-black adaptiveHeight relative flex justify-between">
  <img src="assets/profile_photo_figure.svg" alt="Photo_Figure" class="photoFigure">
  <div class="profilePhoto h-full flex justify-center items-center">
    <img src="assets/profile_photo.jpg" alt="Photo_profile" class="profilePhoto rounded-full">
  </div>

  <div class="profileText pr-20 pl-20">
    <h2>About me</h2>
    <p class="w-full break-words">
      I am a junior front-end developer, a design engineer by education. During the last
      4 years I have lived and worked like engineer in Zelenograd, Russia. Now I have been living
      and studying as a front-end developer in Batumi, Georgia for half a year.
    </p>
    <p class="w-full break-words">
      I have extensive experience of working in a team, I easily find an approach to
      people and quickly join the team. I have a broad outlook. I am hardworking, purposeful
      and take my work seriously. I learn quickly and actively participate in projects, offering
      my ideas and creative approach to solving problems.
    </p>
    <p class="w-full break-words">
      I do not forget about rest and hobbies. I like outdoor activities: tennis and table
      tennis, outdoor recreation and relaxation with friends. And at the same time, I like quite
      rest: movies, books, games.
    </p>
  </div>
</div>
<div class="stackBlock bg-black adaptiveHeight w-full relative p-20 items-center justify-center">
  <img src="assets/stack_figure.png" alt="Projects_figure" class="stackFigure">
  <h2>Stack of technologies</h2>

  <app-technology-info *ngFor="let technology of myTechnologyStack" [technologyName]="technology.name"
    [imgUrl]="technology.imgLink"></app-technology-info>

</div>
<div class="bg-black adaptiveHeight w-full relative p-20 items-center justify-center">
  <div class="projectsBlock">
    <h2 class="text-center">My projects</h2>
    <img src="assets/project_displays.png" alt="Project_displays" class="mb-10">
    <button [routerLink]="'/projects'" class="bg-white rounded-full text-black pr-10 pl-10 p-2">More</button>
  </div>
</div>
<app-contacts></app-contacts>