.aboutBlock {
  width: 100%;
  height: 100%;
  background-image: url('/assets/profile_photo_figure.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
}

.photoFigure {
  position: absolute;
  left: 0;
  top: -15vh;
  width: 55vw;
  z-index: 1;

  @media (max-width: 1600px) {
    left: -10%;
    width: 60vw;
  }

  @media (max-width: 1500px) {
    width: 65vw;
  }

  @media (max-width: 1300px) {
    left: -15%;
    width: 75vw;
  }

  @media (max-width: 1100px) {
    top: -25%;
    left: -35%;
    width: 95vw;
  }

  @media (max-aspect-ratio: 10/12) {
    top: -45vh;
    width: calc(100vh);
  }
}

.profilePhoto {
  height: 100%;
  width: 50%;
  z-index: 10;

  img {
    position: relative;
    height: 23vw;
    width: 23vw;
    left: 14%;

    @media (max-width: 1300px) {
      height: 30vw;
      width: 30vw;
    }

    @media (max-width: 1200px) {
      height: 35vw;
      width: 35vw;
    }
  }
}

.firstBlock {
  h1 {
    font-size: 6vw;
  }
}

.profileText {
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  z-index: 5;

  ul {
    margin-bottom: 1rem;
  }

  li {
    text-align: left;
    list-style-type: circle;
    margin-left: 20%;
  }

  p {
    text-align: left;
    text-indent: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 1300px) {}

  @media (max-width: 1200px) {
    padding: 20px;
  }
}

.stackBlock {
  display: flex;
  flex-direction: column;

  .stackFigure {
    position: absolute;
    right: -8%;
    bottom: -50%;
    width: 50%;
    z-index: 3;
  }
}



.projectsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    width: 90vh;
  }

  button {
    border: solid 2px white;
    border-radius: 30px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    color: white;
    z-index: 3;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.adaptiveHeight {
  min-height: 600px;
  height: 100vh;

  @media (max-aspect-ratio: 1/1) {
    height: calc(70vh);
  }
}