.technology {
  width: 35vw;
  height: 50px;
  margin-bottom: 10px;
  font-size: 1.3rem;

  p {
    width: 50%;
  }

  img {
    width: 50%;
    height: 100%;
    padding-left: 10vw;
  }
}

textTD {
  padding-left: 5rem;
}